@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.main {
    height: auto;
    width: 100%;
    background-color: #F1F5F9;
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

}

.settings {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
}

.settingstwo {
    width: 100%;
    max-width: 1160px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1160px;
    margin-left: 20px;
}

.columnblock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageboxthree {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}


.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.undertitle {
    margin-bottom: 10px;
}

.input {
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: border-color 0.3s ease;
    resize: none;
}

.input:focus {
    border-color: #365CF5;
    background-color: white;
    outline: none;
}

input:checked+.slider:hover {
    background-color: #0056b3;
}

.submitButton:hover {
    background-color: #2b4ec9;
}

.submitButtontwo {
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submitButtonthree {
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 49px;
    transition: background-color 0.3s ease;
    width: 100%;

}


.submitButton {
    background-color: #365cf5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #2b4ec9;
}

.togglebox {
    margin-bottom: 20px;
    margin-top: 50px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchtwo {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
}

.switchtwo input {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}


input:checked+.slider {
    background-color: #365CF5;
}


input:checked+.slider:before {
    transform: translateX(24px);
}


input:focus+.slider {
    box-shadow: 0 0 1px #365CF5;
}


.slider:hover {
    background-color: #b3b3b3;
}


input:checked+.slider:hover {
    background-color: #0056b3;
}

.label {
    margin-left: 10px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    margin-bottom: 30px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.checkboxLabel input {
    display: none;
}

.animatedCheckbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


.animatedCheckbox::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.checkboxLabel input:checked+.animatedCheckbox {
    border-color: #365CF5;
    background-color: #365CF5;
}

.checkboxLabel input:checked+.animatedCheckbox::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
}

.checkboxLabel input:hover+.animatedCheckbox {
    border-color: #007bff;
}

.checkboxLabel span {
    margin-left: 5px;
    vertical-align: middle;
}

.messagebox {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.messageboxsix {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.gifttitle {
    margin-bottom: 20px;
    font-size: 22px;
}

.undertitletwo {
    margin-bottom: 10px;
    margin-top: 20px;
}

.inputContainertwo {
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.inputFieldtwo {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 90%;
    background-color: transparent;
}

.label {
    margin-left: 10px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}


.percentageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.undertitletwo {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.percentageDisplay {
    font-size: 18px;
    color: #333;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: right;
    width: 60px;
}

.percentageSliderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.percentageSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #e5e5e5;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.percentageSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #365CF5;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.percentageSlider::-webkit-slider-thumb:hover {
    background: #2b4ec9;
}

.submitButtontwo {
    width: 100%;
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.messageboxfour {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitetitle {
    font-size: 22px;
}



.generateButton {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #365CF5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 30px;
}

.generateButton:hover {
    background-color: #2d4cb3;
}

.generateButton:active {
    transform: scale(0.98);
}

.linkContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

.linkInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

.copyButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyButton:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tablebox {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 1160px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1160px;
    margin-bottom: 150px;
}




.tableWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

}

.animatedTableWrapper {
    overflow: auto;
    max-width: 100%;
}

.scrollableTableWrapper {
    width: 100%;
}

.taskTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.taskTable th,
.taskTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

.taskTable th {
    background-color: #f8f9fa;
    color: #555;
    font-weight: bold;
}

.taskTable td {
    color: #333;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ddd;
}

.pagination select {
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 18px;
    font-weight: bold;
}

.header span {
    color: #888;
}

.sort-asc {
    background-color: #f0f8ff;
}

.sort-desc {
    background-color: #f0f8ff;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sortButtonContainer {
    position: relative;
}

.sortButton {
    background-color: #365CF5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sortButton:hover {
    background-color: #2b4ec9;
}

.sortMenu {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
    width: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sortMenuItem {
    width: 100%;
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sortMenuItem:hover {
    background-color: #f5f5f5;
}

.sortDirection {
    margin-left: 10px;
}

.sortAsc {
    background-color: #f0f8ff;
}

.sortDesc {
    background-color: #f0f8ff;
}


.toggleButton {
    width: 100%;
    max-width: 1200px;
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleButton:hover {
    background-color: #2b4ec9;
}

.toggleButton:active {
    transform: scale(0.98);
}


.arrowIcon {
    margin-left: 10px;
    transition: transform 0.3s ease;
    fill: white;
}

.up {
    transform: rotate(180deg);
}

.down {
    transform: rotate(0deg);
}


.collapsibleContent {
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.collapsibleContent.collapsed {
    max-height: 0;
}

.collapsibleContent.expanded {
    max-height: 5000px;
}



@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .settings {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .togglebox {
        display: flex;
        flex-direction: column;
    }

    .label {
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .tablebox {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-family: "Plus Jakarta Sans", sans-serif;
        width: 1160px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 1160px;
        margin-bottom: 150px;
    }

    .settings {
        display: flex;
        width: 100%;
        max-width: 1200px;
        min-width: 0px;
        padding-left: 0;
        padding-right: 0;
    }

    .settingstwo {
        width: 100%;
        max-width: 1160px;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 0px;
        margin-left: 0;
    }

    .tablebox {
        min-width: 0px;
        width: 100%;
    }

    .columnblock {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .messagebox,
    .messageboxtwo,
    .messageboxthree,
    .messageboxfour,
    .messageboxfive {
        font-family: "Plus Jakarta Sans", sans-serif;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 18px;

    }

    .gifttitle {
        font-size: 18px;
    }
}