.topbotom {
    background-color: #4581E9;
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.backbotom {
    width: 100%;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
    margin: 0;
    min-height: 600px;
}

.greetings {
    width: 100%;
    height: 80px;
    padding: 35px;
    color: white;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.avatar {
    margin-top: 30px;
    z-index: 1000;
}

.avatarbox {
    z-index: 10;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.name {
    margin-left: 25px;
    margin-top: 25px;
}

.backbotom {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonblock {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
}

.button {
    width: 70%;
    height: 90px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 #99bcf6;
    }

    70% {
        box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


.selected {
    width: 70%;
    height: 90px;
    background-color: white;
    animation: pulse-border 3s infinite;
    border: 2px solid #99bcf6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.void {
    width: 70px;
}

.text {
    font-weight: bold;
    font-size: 24px;
}

.ai {
    padding: 10px;
    width: 85px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}