.main {
    height: auto;
    width: 100%;
    background-color: #F1F5F9;
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}

.settings {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.columnblock {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "Plus Jakarta Sans", sans-serif;
}



.undertitle {
    margin-bottom: 10px;
}

.undertitletwo {
    margin-bottom: 10px;
    margin-top: 20px;
}

.input {
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: border-color 0.3s ease;
    resize: none;
}

.input:focus {
    border-color: #365CF5;
    background-color: white;
    outline: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchtwo {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
}

.switchtwo input {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}


input:checked+.slider {
    background-color: #365CF5;
}


input:checked+.slider:before {
    transform: translateX(24px);
}


input:focus+.slider {
    box-shadow: 0 0 1px #365CF5;
}


.label {
    margin-left: 10px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.togglebox {
    margin-bottom: 20px;
}

.gifttitle {
    margin-bottom: 20px;
    font-size: 22px;
}

.gifttitletwo {
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 40px;
}


.slider:hover {
    background-color: #b3b3b3;
}


input:checked+.slider:hover {
    background-color: #0056b3;
}

.inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    max-width: 200px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.inputContainertwo {
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}



.inputField {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 115px;
    background-color: transparent;
}

.inputFieldtwo {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 90%;
    background-color: transparent;
}


.inputContainer.active {
    background-color: #365CF5;
    border-color: #365CF5;
}

.inputContainer:focus-within {
    border-color: #365CF5;
}


.activeLabel {
    color: white;
}


.inputField {
    color: #333;
    transition: color 0.3s ease;
}


.inputContainer.active .inputField {
    color: white;
}

.submitButton {
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submitButton:hover {
    background-color: #2b4ec9;
}

.submitButtontwo {
    background-color: #365CF5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}


.modeSelector {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.modeSelector label {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.intervalInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    max-width: 200px;
    margin-top: 10px;
}


.intervalInputContainer input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100px;
    background-color: transparent;
}

.intervalInputContainer.active {
    background-color: #365CF5;
    color: white;
}

.intervalInputContainer.active input {
    color: white;
}

.intervalInputContainer.active .label {
    color: white;
}


.intervalInputContainer:focus-within {
    border-color: #365CF5;
}

.modeSlider {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.modeSlider span {
    margin: 0 10px;
    font-size: 16px;
}

.activeMode {
    color: #007bff;
}

.messageblock {
    margin-bottom: 0px;
}

.messagebox {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.messageboxthree {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: 325px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.messageboxtwo {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.messageboxfour {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: 650px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.messageboxfive {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}


.messageboxfive {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fakeButton {
    background-color: #e0f0ff;
    color: #007bff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    cursor: text;
    width: 100%;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.fakeButton:focus {
    outline: none;
    background-color: #d0e9ff;
    border: 1px solid #007bff;
}

.submitButton {
    background-color: #365cf5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submitButton:hover {
    background-color: #2b4ec9;
}

.inputContainerthree {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
}

.inputContainerthree.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.inputContainerthree.hide {
    max-height: 0;
    opacity: 0;
    padding: 0;
}


.messageboxfour {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
    width: 550px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitetitle {
    font-size: 22px;
}

.generateButton {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #365CF5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 30px;
}

.generateButton:hover {
    background-color: #2d4cb3;
}

.generateButton:active {
    transform: scale(0.98);
}

.linkContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

.linkInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

.copyButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copyButton:hover {
    background-color: #45a049;
}

@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .columnblock {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .messagebox,
    .messageboxtwo,
    .messageboxthree,
    .messageboxfour,
    .messageboxfive {
        font-family: "Plus Jakarta Sans", sans-serif;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 30px;
        font-weight: 500;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }

    .messagebox,
    .messageboxtwo,
    .messageboxthree,
    .messageboxfour,
    .messageboxfive {
        font-family: "Plus Jakarta Sans", sans-serif;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }

    .messageboxfive {
        height: auto;
    }

    .messageboxtwo {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .messageboxfour {
        height: auto;
    }

    .title {
        font-size: 18px;
        
    }

    .gifttitle {
        font-size: 18px;
    }

    .gifttitletwo {
        font-size: 18px;
    }
}