@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.main {
    background-color: #F1F5F9;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 100px 50px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.tablebox {
    background-color: transparent;
    width: 100vw;
    border-radius: 15px;
}


.h1 {
    font-weight: 600;
    font-size: 16px;
}

.textbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.text {
    font-size: 14px;
    margin-left: 2.5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .header span {
    color: #888;
  }

  /* Добавляем в Complaints.module.css */
.tableWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .link {
    color: blue; /* Синий цвет для ссылки */
    text-decoration: underline; /* Подчеркивание */
    transition: color 0.3s ease, text-decoration-color 0.3s ease; /* Анимация при наведении */
  }
  
  .link:hover {
    color: darkblue; /* Изменение цвета при наведении */
    text-decoration-color: darkblue; /* Анимация подчеркивания */
  }
  
  .loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
  }
  
  .loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-left-color: #365CF5;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  