.topbotom {
    background-color: #4581E9;
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.backbotom {
    width: 100%;
    min-height: 600px;
    padding: 5px;
    padding-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border: 5px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 700px;
}

.greetings {
    width: 100%;
    height: 80px;
    padding: 35px;
    color: white;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.avatar {
    margin-top: 25px;
    z-index: 1000;
    width: 80px;
    margin-left: -3px;
}

.avatarbox {
    z-index: 10;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
 
}

.name {
    margin-left: 5px;
    margin-top: 5px;
}

.time {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 20px;
}

.parent {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 #99bcf6;
    }
    70% {
        box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.leftblock, .centerblock, .rightblock {
    animation: pulse-border 3s infinite;
    border: 2px solid #4581E9;
    cursor: pointer;
}


.leftblock {
    width: 29%;
    height: 200px;

    border-radius: 25px;
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centerblock {
    width: 32%;
    height: 230px;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.rightblock {
    width: 29%;
    height: 200px;

    border-radius: 25px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.text {
    margin-top: 10px;
    font-weight: 800;
    color: black;
    text-align: center;
    font-size: 14px;
    width: 80px;
}

.section {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.block {
    width: 48%;
    height: 115px;
    border-radius: 15px;
    border: 2px solid #4581E9;
    display: flex; 
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    cursor: pointer;
}


.ai {
    margin-right: 6px;
    width: 70px;
}

.referals {
    margin-top: 5px;
    margin-bottom: -5px;
}

.aionly {
    margin-right: 6px;
    width: 85px; 
    margin-top: -4px;
    margin-bottom: -5px;
}

.aitext {
    font-size: 13px;
    text-align: center;
    width: 120px;
    margin-top: 0px;
}

.ainew {
    margin-top: 6px;
    margin-right: 6px;
    width: 70px;
}



