.main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image: url('https://92eaarerohohicw5.public.blob.vercel-storage.com/image_processing20200420-31474-1kthl4u-FQtVeWEbywLIf400r2ropBNW1FII09.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.parentbox {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}

.box {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin: 30px;
    border-radius: 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 0;
}

.password {
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 30px;
    margin-left: 0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 0;
}

.input {
    height: 50px;
    width: 90%;
    background-color: white;
    border: 2px solid rgb(222, 214, 214);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.passInput {
    height: 40px;
    width: 90%;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: 2px solid rgb(222, 214, 214);
}

.passInput:focus {
    border: 2px solid #FD3255;
    outline: none;
}

.input:focus {
    border: 2px solid #FD3255;
    outline: none;
}


.button {
    width: 200px;
    height: 50px;
    background-color: #FD3255;
    margin-bottom: 25px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 8px;
    cursor: pointer;
}


.passwordBox {
    width: 0;
    position: relative;
    right: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;

}

.img:focus {
    outline: 0 !important;
    border: none !important;
    background-color: red;
}

.img {
    outline: 0 !important;
    background-color: white;
}

.remember {
    width: 100%;
    height: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcbox {
    width: 84%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.customСheckbox {
    width: 20px;
    height: 20px;
    transform: scale(1.1);
}

.customCheckboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customCheckboxHidden {
    display: none;
}

.customCheckbox {
    width: 21px;
    height: 21px;
    border: 2px solid rgb(222, 214, 214);
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.customCheckbox.checked {
    background-color: #FD3255;
    border-color: #FD3255;
}

.customCheckbox.checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBox {
    width: 100%;
}

.inputBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 10px;
}

.picbox {
    width: 50%;
}

.welcome {
    font-weight: 100;
}

@media (max-height: 850px) {
    .mainpic {
        width: 300px;
        height: 300px;
    }
}