.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10000;
  opacity: 0;
  animation: fade-in 0.4s ease-out forwards;
}


.slideUp {
  animation: slide-up 0.4s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


.slideDown {
  animation: slide-down 0.4s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.fadeOutOverlay {
  animation: fade-out 0.4s ease-out forwards;
}


.popupContent {
  /* Фон из картинки */
  background-size: cover;
  /* растянуть с сохранением пропорций */
  background-position: center;
  /* центрировать картинку */
  background-repeat: no-repeat;
  /* не повторять */

  /* или один шорткат вариант:
       background: url("path/to/your-image.jpg") center/cover no-repeat;
    */

  background-color: #333;
  /* fallback-цвет, если картинка не загрузится */
  padding: 20px;
  border-radius: 35px 35px 0 0;
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  height: 600px;
  font-family: 'Trebuchet MS', sans-serif;
}



@keyframes neon-glow {
  0% {
    box-shadow: 0px -20px 50px rgba(69, 129, 233, 0.3),
      0px -30px 70px rgba(69, 129, 233, 0.2),
      0px -40px 90px rgba(69, 129, 233, 0.1);
    border-top-color: rgba(69, 129, 233, 0.5);
  }

  100% {
    box-shadow: 0px -30px 80px rgba(69, 129, 233, 1),
      0px -40px 100px rgba(69, 129, 233, 0.8),
      0px -50px 120px rgba(69, 129, 233, 0.6);
    border-top-color: rgba(69, 129, 233, 1);
  }
}



.slideUp {
  animation: slide-up 0.4s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


.slideDown {
  animation: slide-down 0.4s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}



.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.confirmButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5e71e4;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}


.logobox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -60px;
  margin-top: 60px;
  margin-left: 35px;
}

.poptitle {
  font-size: 22px;
  margin-bottom: 20px;
}

.poptext {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}