@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.main {
    background-color: #F1F5F9;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 50px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.tablebox {
    background-color: transparent;
    width: 100vw;
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 18px;
    font-weight: bold;
}

.header span {
    color: #888;
}

/* Стили таблицы */
.tableWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.animatedTableWrapper {
    overflow: auto;
    max-width: 100%;
}

.scrollableTableWrapper {
    width: 100%;
}

.taskTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.taskTable th,
.taskTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

.taskTable th {
    background-color: #f8f9fa;
    color: #555;
    font-weight: bold;
}

.taskTable td {
    color: #333;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ddd;
}

.pagination select {
    margin-left: 10px;
}
