.topbotom {
    background-color: #4581E9;
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.greetings {
    width: 100%;
    height: 80px;
    padding: 35px;
    color: white;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.avatar {
    z-index: 1000;
}

.avatarbox {
    z-index: 10;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.name {
    margin-left: 25px;
    margin-top: 25px;
}

.content {
    width: 100%;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: white;
    margin: 0;
    min-height: 700px;
}

.title {
    font-size: 24px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
}

.methodbox {
    width: 100%;
    height: auto;
}

.method {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.methodtext {
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: grey;
}


.content {
    padding: 20px;
}

.methodbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.method {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s;
    height: 80px;
}

.selectedMethod {
    border: 1px solid #4581E9;
}

.methodtext {
    font-size: 18px;
    margin-left: 15px;
}

.checkmark {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.continueButton {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #4581E9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    height: 50px;
}

.maintitle {
    margin-bottom: 20px;
}

.selectedMethod {
    border: 1px solid #4581E9;
}

.methodtext {
    font-size: 18px;
    margin-left: 10px;
}

.checkmark {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.continueButton {
    margin-top: 37px;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #4581E9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.disabledButton {
    background-color: #ccc;
    cursor: not-allowed;
}