.topbotom {
  background-color: #4581E9;
  width: 100%;
  height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
}

.backbotom {
  width: 100%;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: white;
  margin: 0;
  min-height: 600px;
}

.greetings {
  width: 100%;
  height: 80px;
  padding: 35px;
  color: white;
  font-size: 26px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.avatar {
  margin-top: 30px;
  z-index: 1000;
}

.avatarbox {
  z-index: 10;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.name {
  margin-left: 25px;
  margin-top: 25px;
}

.infobox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.first {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
}

.firstone,
.firsttwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.textbox {
  font-size: 14px;
  margin-left: 10px;
  width: 100px;
}



.num {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100px;
}

.imgbox {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.button {
  width: 80%;
  height: 60px;
  background-color: #4581E9;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}


.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10000;
  opacity: 0;
  animation: fade-in 0.4s ease-out forwards;
}


.slideUp {
  animation: slide-up 0.4s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


.slideDown {
  animation: slide-down 0.4s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.fadeOutOverlay {
  animation: fade-out 0.4s ease-out forwards;
}


.popupContent {
  background-color: #333;
  padding: 20px;
  border-radius: 35px 35px 0 0;
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  height: 350px;
  font-family: 'Trebuchet MS', sans-serif;
  border-top: 3px solid #4581E9;
  box-shadow: 0px -20px 50px rgba(69, 129, 233, 0.8);
  animation: neon-glow 0.8s infinite alternate;
}

.generatedButton {
  background-color: green;
}

.referralLinkContainer {
  margin-top: 20px;
  text-align: center;
}

.referralLinkInput {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.copyButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007aff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.copyButton:hover {
  background-color: #0051c7;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0px -20px 50px rgba(69, 129, 233, 0.3),
      0px -30px 70px rgba(69, 129, 233, 0.2),
      0px -40px 90px rgba(69, 129, 233, 0.1);
    border-top-color: rgba(69, 129, 233, 0.5);
  }

  100% {
    box-shadow: 0px -30px 80px rgba(69, 129, 233, 1),
      0px -40px 100px rgba(69, 129, 233, 0.8),
      0px -50px 120px rgba(69, 129, 233, 0.6);
    border-top-color: rgba(69, 129, 233, 1);
  }
}



.slideUp {
  animation: slide-up 0.4s ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


.slideDown {
  animation: slide-down 0.4s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}



.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.confirmButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5e71e4;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}


.logobox {
  width: 100%;
  display: flex;
  justify-content: center;
}