name: Check Assistants

on:
  schedule:
    - cron: "*/1 * * * *" # Запуск каждую минуту
  workflow_dispatch: # Для ручного запуска

jobs:
  assistant-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Run script to check assistants
      run: |
        # Команда, которая запускает проверку ассистентов
        curl -X POST https://crm-vpn.vercel.app/api/check-assistants
